@import 'components/colors.css';
@import 'components/fonts.css';
@import 'components/avatar.css';
@import 'components/sidebar.css';
@import 'components/percentage.css';
@import 'components/stats.css';
@import 'components/chart.css';
@import 'components/form.css';

/*base*/
html {
  font-size: 14px;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}
.circle {
  border-radius: 50%;
  border: 1px solid lightgray;
  width: 3rem;
  height: 3rem;
}
.circle-lg {
  width: 5rem;
  height: 5rem;
}
.section-flex {
  display: flex;
}
.justify-center {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.components {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 40px;
}
