.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-700 {
  font-weight: 700;
}
